
.CalenderQuestion{
    height: 40%;
    width: 40%;
    border: 1px solid black;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-image: url("../../../../public/bulb.jpg");
    color: black;
    background-position: center;
}


.Shadow{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    z-index: -10;
    border: 1px solid black;
}

.QuestionLink{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.Link{
    display: flex;
    align-items: center;
    border-bottom: 3px solid grey;
    transition: all 0.2s;
    cursor: pointer;
    font-style: italic;
}

.Link a{
    text-decoration: none;
    color: black;
}

.Link p{
    margin: 0;
}

.Link:hover{
    border-bottom: 3px solid black;
    transform: translate(0px, -5px);
}

.ValidateButton{
    padding: 10px;
    background-color: palevioletred;
    margin-top: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    transition: all 0.3s;
}

.ValidateButton:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
}


@media screen and (max-width: 500px){
    .CalenderQuestion{
        height: 45%;
        width: 90%;
    }
}